In [8]:
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/00331/sentiment%20labelled%20sentences.zip -o reviews_dataset.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0 84188    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 84188  100 84188    0     0  67495      0  0:00:01  0:00:01 --:--:-- 67566

In [3]:
import pandas as pd
import pathlib

In [19]:
PARENT_DIR = pathlib.Path().resolve()
TARGET_DIR = PARENT_DIR / "reviews_dataset" / "sentiment labelled sentences"
#df = pd.read_csv(TARGET_DIR , sep="\t")
TARGET_DIR.mkdir(exist_ok=True , parents = True)
#print(TARGET_DIR)
# for path in TARGET_DIR.glob('*'):
#     print(path.name)
imdb_reviews = TARGET_DIR / "imdb_labelled.txt"
amazon_reviews = TARGET_DIR / "amazon_cells_labelled.txt"
imdb_df = pd.read_csv(imdb_reviews , sep="\t" , header=None)
amazon_df = pd.read_csv(amazon_reviews , sep="\t" , header=None)
amazon_df.head()

                                                   0  1
0  So there is no way for me to plug it in here i...  0
1                        Good case, Excellent value.  1
2                             Great for the jawbone.  1
3  Tied to charger for conversations lasting more...  0
4                                  The mic is great.  1

In [26]:
my_df=[imdb_df , amazon_df]
df = pd.concat(my_df)
df.columns = ['review','rate']
df['label'] = df['rate'].apply(lambda x : "negative" if x==0 else "positive" )
df.head()

                                              review  rate     label
0  A very, very, very slow-moving, aimless movie ...     0  negative
1  Not sure who was more lost - the flat characte...     0  negative
2  Attempting artiness with black & white and cle...     0  negative
3       Very little music or anything to speak of.       0  negative
4  The best scene in the movie was when Gerardo i...     1  positive

In [35]:
TARGET2_DIR = PARENT_DIR / "final_ds"
TARGET2_DIR.mkdir(exist_ok=True , parents = True)
targ = TARGET2_DIR / "df.csv"
print(targ)

df.to_csv(targ , index=False)

C:\Users\hp\Desktop\blog\nbs\final_ds\df.csv